:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.p-inputtext{
  width: 100%;
}
.p-button{
  width: 100%;
}

.card {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}


.p-error {
  color: #f44336;
  font-size: 0.875rem;
}

.card {
  width: 400px;
  margin: 0 auto;
}


